<div class="block-update-card status">
    <div class="update-card-body">
        <div class="update-card-body">
            <h4>Hi, {{username}}!</h4>
            <p>
                This is in progress!
            </p>
        </div>
    </div>
    <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
        <div class="btn-group fa fa-mail-reply"><a href="/#/app/conversation/master"> Conversations</a></div>
        <div class="btn-group fa fa-asterisk"> <a href="/#/app/profile/thoughts"> Your Thoughts</a></div>
        <div class="btn-group fa fa-magic"> <a href="/#/app/profile/newThought">Make a New Thought!</a></div>
    </div>
</div>


