<div class="newthoughtsContainer">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-asterisk"></i> Make a snowflake!
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="submissionLabels">Text Message</label>
                <textarea id="inputTextMessage" class="form-control" placeholder="Enter message..." ng-model="newThought.Text"></textarea>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <button class="btn btn-info pull-right" ng-click="createThought()">Submit</button>
        </div>
    </div>
</div>